---
layout: default
title: Church Life Ministry
description: The Church Life Ministry is dedicated to fostering a vibrant and engaging community within our church, creating opportunities for connection, fellowship, and active participation. Through our Events Team, we organize a variety of enjoyable activities, including the annual church picnic, game nights, sledding events, bowling outings, kayaking trips, and sports teams, all aimed at bringing members together in fun and meaningful ways. The Connections Team focuses on helping visitors feel at home and encouraging them to engage more fully in the life of the church through follow-up care, welcome bags, and opportunities for new members to connect with mentors. Our mission is to strengthen the bonds within our church community and support both the spiritual and social growth of our members.
permalink: /church-life/
image: 
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- begin videos-page -->
<section class="section videos-page animate">
   {% assign tag = "church-life" %}
  <div class="container">
    <div class="section__inner">
      <div class="row">
        {% for post in site.posts %}
         {% if post.tags contains tag %}
        <div class="col col-4 col-d-6 col-t-12">
          {% include article.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end videos-page -->
