---
layout: default
title: Missions Ministry
description: 
permalink: /missions/
image: 
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- begin videos-page -->
<section class="section videos-page animate">
   {% assign tag = "missions" %}
  <div class="container">
    <div class="section__inner">
      <div class="row">
        {% for post in site.posts %}
         {% if post.tags contains tag %}
        <div class="col col-4 col-d-6 col-t-12">
          {% include article.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end videos-page -->
