---
layout: default
title: Missions Ministry
description: The Missions Ministry is dedicated to fulfilling the Great Commission through local, national and global outreach. Our teams focus on collecting resources, engaging in hands-on service, and supporting missionaries. The Collections Team coordinates donations for various projects, while the Hands-On Missions Team participates in community service and mission trips. The Missionary Support Team provides resources and financial aid to missionaries. Led by the Lead Missions Team, we ensure effective use of funds to support mission work, fostering a culture of service and support within our community.
permalink: /missions/
image: 
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- begin videos-page -->
<section class="section videos-page animate">
   {% assign tag = "missions" %}
  <div class="container">
    <div class="section__inner">
      <div class="row">
        {% for post in site.posts %}
         {% if post.tags contains tag %}
        <div class="col col-4 col-d-6 col-t-12">
          {% include article.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end videos-page -->
