---
layout: default
title: Live Stream
description: Join us live for our weekly worship services, streamed directly to your device. Whether you’re at home or on the go, you can participate in worship, hear the sermon, and stay connected with our community in real time. We look forward to worshiping together, no matter where you are!
permalink: /stream/
image:
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- begin tags -->
<section class="tags">

  <div class="tag__head">
    <div class="container">
      <div class="row">
          <div class="col col-4 col-d-6 col-t-12">
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="https://www.youtube.com/@uccdga/streams" class="link_button" target="_blank">Live Stream on YouTube</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
          </div>
      </div>
    </div>
  </div>


</section>
<!-- end tags -->
