---
layout: default
title: Worship Ministry
description: The United Church of Canandaigua holds Sunday services year-round, with two services at 8:45 AM and 11:00 AM from fall to spring, and a single service at 9:30 AM during the summer months. Services feature a traditional format, including hymn singing accompanied by the pipe organ and a 20-minute sermon. Children's time is included, and nursery care is available for infants through 5-year-olds.
permalink: /worship/
image: 
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          {% if page.title %}
          <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
          <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<!-- begin tags -->
<section class="tags">

  <div class="tag__head">
    <div class="container">
      <div class="row">
          <div class="col col-4 col-d-6 col-t-12">
            <a href="/videos" class="link_button" target="_blank">Videos</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="/stream" class="link_button">Live Stream</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="/bulletin" class="link_button">Bulletins</a>
          </div>
      </div>
    </div>
  </div>


</section>
<!-- end tags -->

<!-- begin worship-page -->
<section class="section videos-page animate">
   {% assign tag = "worship" %}
  <div class="container">
    <div class="section__inner">
      <div class="row">
        {% for post in site.posts %}
         {% if post.tags contains tag %}
        <div class="col col-4 col-d-6 col-t-12">
          {% include article.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end videos-page -->
