<!-- begin publication buttons -->
<section class="tags">
  <div class="tag__head">
    <div class="container">
      <div class="row">
          <div class="col col-4 col-d-6 col-t-12">
            <a href="https://uccdga.churchcenter.com/giving" class="link_button" target="_blank">Online Giving</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="https://bit.ly/48BcbNw" class="link_button">Pledge Form</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="/missions" class="link_button">Missions</a>
          </div>
      </div>
    </div>
  </div>
</section>