<!-- begin publication buttons -->
<section class="tags">
  <div class="tag__head">
    <div class="container">
      <div class="row">
          <div class="col col-4 col-d-6 col-t-12">
            <a href="https://uccdga.churchcenter.com/calendar?view=month" class="link_button" target="_blank">Calendar</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="/lamplighter" class="link_button">Newsletter</a>
          </div>
          <div class="col col-4 col-d-6 col-t-12">
            <a href="/bulletin" class="link_button">Bulletins</a>
          </div>
      </div>
    </div>
  </div>
</section>