{% if site.data.settings.christmas.enable == true %}

<!-- begin about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe__inner">
          <div class="subscribe__content"></div>
          <h3 class="subscribe__title">Holiday Services</h3>

          <p class="subscribe__description"><b>December 14</b>: Children's Christmas Pageant 10 AM (between 8:45 and 11 AM Service)</p>
          	<p class="subscribe__description"><b>December 21</b>: Christmas Cantata combined service 11 AM (no 8:45 AM service)</p>
            <p class="subscribe__description"><b>December 24</b>: Christmas Eve Service 7 PM</p>
            <p class="subscribe__description"><b>December 28</b>: New Year Prayer Service combined service 11 AM (no 8:45 AM service)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->

{% endif %}