<!-- begin section-posts -->
{% assign filtered_posts = site.posts | where_exp: "post", "post.tags contains page.articles" %}
{% if filtered_posts.size > 0 %}
<section class="section section-posts animate">
  <div class="container">

    <div class="section__inner">
      <div class="section__info">
        <div class="section__head">
          <h2 class="section__title">Latest from {{page.title}}</h2>
        </div>
      </div>

      <div class="row grid">
        {% for post in filtered_posts offset:0 %}
          {% include article.html class="col col-4 col-d-6 col-t-12 animate grid__post" %}
        {% endfor %}
      </div>

      {% include pagination.html %}
    </div>
      {% endif %}
  </div>
</section>

