{% if site.data.settings.cancel.enable == true %}

<!-- begin cancel -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe__inner">
          <div class="subscribe__content"></div>
          <h3 class="subscribe__title">Weather Statement</h3>

          <p class="subscribe__description">Due to inclement weather, church is canceled</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end cancel -->

{% endif %}