---
layout: default
---

<div class="container">
  <div class="page__head">
    <div class="page__info">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.description %}
      <div class="page__description">{{ page.description }}</div>
      {% endif %}
    </div>

    {% if page.video_embed %}
    <div class="page__video">
      <div class="page__video__wrap">
        <iframe src="{{ page.video_embed }}" loading="lazy" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    {% else %}

    {% if page.image %}
    <div class="page__image">
      <img class="lazy" data-src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    </div>
    {% endif %}
    {% endif %}

    {% if page.image_caption %}
    <div class="page__image__caption">{{ page.image_caption | markdownify | replace: '<p>' | replace: '</p>' }}</div>
    {% endif %}
  </div>

  {% if page.buttons %}

  {% include {{ page.buttons }} %}

  {% endif %}

  <!-- begin page -->
  <article class="page">
    <div class="page__content">
      {% if page.toc == true %}
      <div class="page__toc">
        <h2 class="page__toc__title">Table of Contents</h2>
        {% include toc.html html=content ordered=true class="page__toc__list" h_min=2 %}
      </div>
      {% endif %}

      {{ content }}
    </div>
  </article>

<!-- Begin Articles Section -->
{% if page.articles %}

<!-- begin section-posts -->
{% assign filtered_posts = site.posts | where_exp: "post", "post.tags contains page.articles" %}
{% if filtered_posts.size > 0 %}
<section class="section section-posts animate">
  <div class="container">

    <div class="section__inner">
      <div class="section__info">
        <div class="section__head">
          <h2 class="section__title">Latest from {{page.title}}</h2>
        </div>
      </div>

      <div class="row grid">
        {% for post in filtered_posts offset:0 %}
          {% include article.html class="col col-4 col-d-6 col-t-12 animate grid__post" %}
        {% endfor %}
      </div>

      {% include pagination.html %}
    </div>
      {% endif %}
  </div>
</section>
{% endif %}


</div>